# Sensitive files
.env
*.json  # Service account keys

# Python
__pycache__/
*.pyc

# Logs
logs/
*.log

# Virtual environment
openaq_env/
venv/

# Jupyter notebooks
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

*.ipynb
notebooks/
