# Ignore virtual environment
venv/

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore specific config file containing secrets
/scripts/config.py

# Ignore credentials and env files
secrets.json
.env

# Ignore Python cache
__pycache__/